###Python

In [ ]:
"This is coding cell"

'This is coding cell'

In [ ]:
2 + 2

4

In [ ]:
2 + 5

7

In [ ]:
2 + 2
3 * 3

9

In [ ]:
print(2+2)
print(3*3)

4
9

In [ ]:
print(2+5)
3*4

7

12

In [ ]:
#This is a comment

In [ ]:
#This is another comment.
2+2 #This is a comment next to an equation

4

This Normal.

**This is Bold**

*It*

#Heading

##sub

1. l
2. k
3. o

- jump
- skip
- flip


*   List item
*   List item



> Add blockquote

> Add blockquote

[link text](https://)

In [ ]:
#Here I start answering pratice problems from course

In [ ]:
job_count = 42
print(job_count)

42

In [ ]:
job_title = 'Data Engineer'
company_name = 'Data Wiz'
WFH = True
print (job_title, company_name, WFH)

Data Engineer Data Wiz True

In [ ]:
base_salary = 120000
bonus = 20000
total_salary = base_salary * (1 + bonus)
print(total_salary)

2400120000

In [ ]:
base_salary = 120000
bonus = 20000
total_compensation = base_salary + bonus
print(total_compensation)

140000

In [ ]:
annual_salary = 72000
monthly_salary = annual_salary / 12
print(monthly_salary)

6000.0

In [ ]:
#Create variables to store the job title, company name, and salary for a Data Scientist position at AI Solutions for $110K.
#Then, calculate the total compensation by adding a 10% bonus to the salary and print the total compensation, along with the job and company name.
job_title = 'Data Scientist'
company_name = 'AI Solutions'
annual_salary = 110000
bonus = annual_salary * .10
total_compensation = annual_salary + bonus
print(job_title, company_name, total_compensation)

Data Scientist AI Solutions 121000.0

In [ ]:
#string
job_title = 'Data Scientist'
print(type (job_title))

<class 'str'>

In [ ]:
annual_salary = 85000.50
print(type(annual_salary))

<class 'float'>

In [ ]:
salary_rate = 120000.75
salary_rate = int(salary_rate)
print(type(salary_rate))

<class 'int'>

In [ ]:
company_name = 'DataWiz Inc.'
print(isinstance(company_name,str))

True

In [ ]:
job_title = 'data scientist'
job_title_upper = job_title.upper()
print(job_title_upper)

In [ ]:
job_title = 'Data Analyst'
job_title_replace = job_title.replace('Analyst', 'Scientist')
print(job_title_replace)

Data Scientist

In [ ]:
seniority_level = 'Senior'
job_title = 'Data Analyst'
full_title = seniority_level + ' ' + job_title
print(full_title)

Senior Data Analyst

In [ ]:
job_title = 'Data Scientist'
print(len(job_title))

14

In [ ]:
job_title = 'DATA ENGINEER'
lower_title = job_title.lower()
print(lower_title)

data engineer

In [ ]:
job_title = 'DATA ENGINEER'
print(job_title.lower())

data engineer

In [ ]:
# prompt: Combine 'Data' and 'Analyst'

job_title = 'Data'
job_description = 'Analyst'
combined_title = job_title + ' ' + job_description
combined_title

In [ ]:
job_title = 'Data Scientist'
print('Job Title: '+ job_title)

Job Title: Data Scientist

In [ ]:
#f'Role: {role}, Skill required: {skill}
position = 'Data Scientist'
company = 'DataWiz Inc.'
print(f'Position: {position}, Company: {company}')
#f'Position: {position}, Company: {company}'

Position: Data Scientist, Company: DataWiz Inc.

In [ ]:
# prompt: format this as a string position = 'Data Scientist'
# company = 'DataWiz Inc.'

position = 'Data Scientist'
company = 'DataWiz Inc.'
print(f'Position: {position}, Company: {company}')
#using generative ai example

Position: Data Scientist, Company: DataWiz Inc.

In [ ]:
#'Role: {}, Skill required: {}'.format(role, skill)
role = 'Data Analyst'
skill = 'Python'
print('Role: {}, Skill required: {}'.format(role, skill))

Role: Data Analyst, Skill required: Python

In [ ]:
#'Role: %s, Skill required: %s' % (role, skill)
role = 'Data Engineer'
skill = 'SQL'
print('Role: %s, Skill required: %s' % (role, skill))

Role: Data Engineer, Skill required: SQL

In [ ]:
monthly_salary = 8000
annual_salary = monthly_salary * 12
print(annual_salary)

96000

In [ ]:
avg_salary_analyst = 70000
avg_salary_scientist = 85000
if avg_salary_analyst > avg_salary_scientist:
  print('Analyst')
else:
  print('Scientist')

Scientist

In [ ]:
avg_salary_analyst = 70000
avg_salary_scientist = 85000
if avg_salary_analyst > avg_salary_scientist:
  print('Analyst is greater than Scientist')
elif avg_salary_analyst < avg_salary_scientist:
  print('Scientist is greater than Analyst')

Scientist is greater than Analyst

In [ ]:
total_applications = 123
job_openings = 67
print(total_applications % job_openings)

56

In [ ]:
job_postings = 20
new_job_postings = 5
total_job_postings = job_postings + new_job_postings
print(total_job_postings)

25

In [ ]:
job_postings = 20
job_postings += 5
print(job_postings)

25

In [ ]:
min_salary = 50000
max_salary = 120000
average_salary = (min_salary + max_salary) / 2
print(average_salary)

85000.0

In [ ]:
# Output someone's skill level based on the number of years someone has been using Python. Use the following criteria:

# Less than 2 years is 'Beginner'
# 2 or more years is 'Intermediate'
# Set the variable python_experience to 3 and test this variable in the if statement

python_experience = 3
if python_experience < 2:
  print('Beginner')
elif python_experience >= 2:
  print('Intermediate')

Intermediate

In [ ]:
tools_known = 3
if tools_known <=1:
  print('Beginner')
elif tools_known > 2 and tools_known < 4:
  print('Intermediate')
else:
  print('Advanced')

Intermediate

Determine the job title based on years of job experience and years of SQL experience. The variable job_experience is set to 4 and sql_experience is set to 2. Use the following criteria:

Less than 2 years of job experience is 'Junior Analyst'.
2 to 5 years of job experience and 1 year of SQL experience is 'Intermediate Analyst'.
2 to 5 years of job experience and 2 or more years of SQL experience is 'Senior Analyst'.
More than 5 years of job experience and 3 or more years of SQL experience is 'Lead Analyst'.
More than 5 years of job experience and less than 3 years of SQL experience is 'Data Analyst'.

In [ ]:
job_experience = 4
sql_experience = 2
if job_experience < 2:
  job_title = 'Junior Analyst'
elif job_experience >= 2 and job_experience < 5 and sql_experience == 1:
  job_title = 'Intermediate Analyst'
elif job_experience >= 2 and job_experience < 5 and sql_experience >= 2:
  job_title = 'Senior Analyst'
elif job_experience >= 5 and sql_experience >= 3:
  job_title = 'Lead Analyst'
else:
  job_title = 'Data Analyst'
print(job_title)

Senior Analyst

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles [1]

'Data Analyst'

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles.append('AI Speclist')
job_titles.remove('Machine Learning Engineer')
print(job_titles)

['Data Scientist', 'Data Analyst', 'AI Speclist']

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles[2] = 'AI Specialist'
print(job_titles)

['Data Scientist', 'Data Analyst', 'AI Specialist']

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Engineer']
print(job_titles[:2])

['Data Scientist', 'Data Analyst']

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles.append('Data Engineer')
print(job_titles)

['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Engineer']

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles.insert(1, 'Business Analysts')
print(job_titles)

['Data Scientist', 'Business Analysts', 'Data Analyst', 'Machine Learning Engineer']

In [ ]:
2+2

4

In [ ]:
2+5

7

In [ ]:
1+1

2

In [ ]:
job_title = 'Data Scientist'
print(job_title.upper())

DATA SCIENTIST

In [ ]:
position = 'Data Scientist'
company = 'DataWiz Inc.'
print(f'Postion: {position}; Company: {company}')

Postion: Data Scientist; Company: DataWiz Inc.

In [ ]:
position = 'Data Scientist'
company = 'DataWiz Inc.'
result = f'{position} at {company}'
print(result)

Data Scientist at DataWiz Inc.

In [ ]:
position = 'Data Scientist'
company = 'DataWiz Inc.'
print(f'{position} at {company}')

Data Scientist at DataWiz Inc.

In [ ]:
role = 'Data Analyst'
skill = 'Python'
print('Role: {}, Skill Required: {}'.format(role, skill))

Role: Data Analyst, Skill Required: Python

In [ ]:
role = 'Data Engineer'
skill = 'SQL'
result = 'Role: %s, Skill Required: %s' % (role, skill)
print(result)

Role: Data Engineer, Skill Required: SQL

In [ ]:
1 == 1.0

True

In [ ]:
python_experience = 3

if python_experience < 2:
  print('Beginner')
elif python_experience >= 2:
  print('Intermediate')

Intermediate

In [ ]:
tools_known = 3
if tools_known <= 1:
  print('Beginner')
elif tools_known > 1 and tools_known < 4:
  print('Intermediate')
else:
  print('Advanced')

Intermediate

In [ ]:
job_experience = 4
sql_experience = 2


if job_experience < 2 and sql_experience == 0:
 job_title = "Associate Analyst"
elif job_experience < 2 and sql_experience > 1:
 job_title = "Junior Analyst"

elif job_experience >= 2 and job_experience <= 5 and sql_experience == 0:
 job_title = "Associate Analyst"
elif job_experience >= 2 and job_experience <= 5 and sql_experience == 1:
 job_title = "Intermediate Analyst"
elif job_experience >= 2 and job_experience <= 5 and sql_experience >= 2:
 job_title = "Senior Analyst"

elif job_experience > 5 and sql_experience <= 2:
 job_title = "Data Analyst"
elif job_experience > 5 and sql_experience > 3:
 job_title = "Lead Analyst"
else:
  job_title = "Unknown"

print (job_title)

Senior Analyst

In [ ]:
sql_experience = 3

if 2 <= sql_experience <= 4:
    print("SQL experience is between 2 and 4 (inclusive)")

SQL experience is between 2 and 4 (inclusive)

In [ ]:
sql_experience = 3

if sql_experience in range(2, 5):  # Note: range(2, 5) is equivalent to 2 <= x < 5
    print("SQL experience is between 2 and 4 (inclusive of 2, exclusive of 5)")

SQL experience is between 2 and 4 (inclusive of 2, exclusive of 5)

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles [1]

'Data Analyst'

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles.append('AI Specialist')
job_titles.remove('Machine Learning Engineer')
print(job_titles)

['Data Scientist', 'Data Analyst', 'AI Specialist']

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles[2] = 'AI Specialist'
print(job_titles)

['Data Scientist', 'Data Analyst', 'AI Specialist']

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles[0] = 'Software Engineer'
print(job_titles)

['Software Engineer', 'Data Analyst', 'Machine Learning Engineer']

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Engineer']
selected_jobs = job_titles[:2]
print(selected_jobs)

['Data Scientist', 'Data Analyst']

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles.append('Data Engineer')
print(job_titles)

['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Engineer']

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles.insert(1, 'Business Analyst')
print(job_titles)

['Data Scientist', 'Business Analyst', 'Data Analyst', 'Machine Learning Engineer']

In [ ]:
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
print(job_postings['Data Analyst'])

80

In [ ]:
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings['AI Specialist'] = 30
print(job_postings)

{'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50, 'AI Specialist': 30}

In [ ]:
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings.pop('Machine Learning Engineer')
print(job_postings)

{'Data Scientist': 120, 'Data Analyst': 80}

In [ ]:
job_postings1 = {'Data Scientist': 120, 'Data Analyst': 80}
job_postings2 = {'Machine Learning Engineer': 50, 'AI Specialist': 30}
job_postings1.update(job_postings2)
print(job_postings1)

{'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50, 'AI Specialist': 30}

In [ ]:
# #Create a nested dictionary job_details where each key is a job role and the value is another dictionary containing 'postings' and 'average_salary'.
# The details for each are: 'Data Scientist' has 120 postings and an average salary of 120000; 'Data Analyst' has 80 postings and an average salary of 80000;
# Machine Learning Engineer has 50 postings and average salary of 110000. Print the nested dictionary.

job_details= {'Data Analyst': {'job_postings':80, 'average_salary':80000},
              'Data Scientist': {'job_postings':120, 'average_salary':120000},
              'Machine Learning Engineer': {'job_postings':50, 'average_salary':110000}}
print(job_details)

{'Data Analyst': {'job_postings': 80, 'average_salary': 80000}, 'Data Scientist': {'job_postings': 120, 'average_salary': 120000}, 'Machine Learning Engineer': {'job_postings': 50, 'average_salary': 110000}}

In [ ]:
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}
unique_job_titles.add('AI Specialist')
print(unique_job_titles)

{'Data Analyst', 'Machine Learning Engineer', 'Data Scientist', 'AI Specialist'}

In [ ]:
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}
unique_job_titles.remove('Data Analyst')
print(unique_job_titles)

{'Machine Learning Engineer', 'Data Scientist'}

In [ ]:
job_locations = ['New York', 'San Francisco', 'New York', 'Austin', 'San Francisco']
set(job_locations)
print(set(job_locations))

{'New York', 'San Francisco', 'Austin'}

In [ ]:
skills_set1 = {'Python', 'SQL', 'Tableau'}
skills_set2 = {'R', 'SQL', 'Machine Learning'}
print(skills_set1.union(skills_set2))

{'Tableau', 'R', 'Machine Learning', 'Python', 'SQL'}

In [ ]:
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
job_roles[1]
print(job_roles[1])

Data Analyst

In [ ]:
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')

job_roles = job_roles + ('AI Specialist',)
print(job_roles)

('Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'AI Specialist')

In [ ]:
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
job_roles = list(job_roles)
job_roles.remove('Data Analyst')
job_roles = tuple(job_roles)
print(job_roles)

('Data Scientist', 'Machine Learning Engineer')

In [ ]:
job_postings = (120, 80, 50)
data_scientist_postings, data_analyst_postings,ml_engineer_postings= job_postings
print(data_scientist_postings)
print(data_analyst_postings)
print(ml_engineer_postings)

120
80
50

In [ ]:
job_details = (('Data Scientist', 120), ('Data Analyst', 80), ('Machine Learning Engineer', 50))
print(job_details[2][1])

50

In [ ]:
job_title1 = 'Data Engineer'
job_title2 = 'Data Scientist'
job_title1 is not job_title2

True

In [ ]:
job_locations = ['New York', 'San Francisco', 'Austin']
print('New York' in job_locations)

True

In [ ]:
job_title = 'Data Analyst'
job_description = 'Data Scientist at Tech Corp'
print(job_title not in job_description)

True

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
print('Data Scientist'and 'Machine Learning Engineer'in job_titles)

True

In [ ]:
salary1 = 100000
salary2 = 50000
print(salary1 | salary2)

116720

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
for title in job_titles:
  print(title)

Data Scientist
Data Analyst
Machine Learning Engineer

In [ ]:
total_job_postings = 0
index = 0
job_postings = [5, 10, 15, 20, 25]
while index < len(job_postings):
  total_job_postings += job_postings[index]
  index += 1
print(total_job_postings)

75

In [ ]:
help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable, start=0)
 |
 |  Return an enumerate object.
 |
 |    iterable
 |      an object supporting iteration
 |
 |  The enumerate object yields pairs containing a count (from start, which
 |  defaults to zero) and a value yielded by the iterable argument.
 |
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
print(list(enumerate(job_titles)))

[(0, 'Data Scientist'), (1, 'Data Analyst'), (2, 'Machine Learning Engineer')]

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
for index, title in enumerate(job_titles):
    print(f'{index}: {title}')

0: Data Scientist
1: Data Analyst
2: Machine Learning Engineer

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']
index = 0
while index < len(job_titles):
    if 'Engineer' in job_titles[index]:
        print(job_titles[index])
        break
    index += 1

Machine Learning Engineer

In [ ]:
positions_skills = {
    'Data Scientist': ['Python', 'R'],
    'Data Analyst': ['SQL', 'Excel'],
    'Machine Learning Engineer': ['Python', 'TensorFlow']
}
for position, skills in positions_skills.items():
  for skill in skills:
    print(f'The role of a {position} requires skills in {skill}.')

The role of a Data Scientist requires skills in Python.
The role of a Data Scientist requires skills in R.
The role of a Data Analyst requires skills in SQL.
The role of a Data Analyst requires skills in Excel.
The role of a Machine Learning Engineer requires skills in Python.
The role of a Machine Learning Engineer requires skills in TensorFlow.

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']
index = 0
while index < len(job_titles):
    if 'Engineer' in job_titles[index]:
        print(job_titles[index])

    index += 1

Machine Learning Engineer
Software Engineer

In [ ]:
salaries_usd = [100000, 120000, 80000, 90000]
salaries_eup = [x*0.85 for x in salaries_usd]
print(salaries_eup)

[85000.0, 102000.0, 68000.0, 76500.0]

In [ ]:
job_experience = {'Data Scientist': 3, 'Data Analyst': 1, 'Machine Learning Specialist': 4, 'Data Engineer': 2}
job_experience = {key: value for key, value in job_experience.items() if value > 2}
print(job_experience)

{'Data Scientist': 3, 'Machine Learning Specialist': 4}

In [ ]:
job_salary_dicts = [{'job_title': 'Data Scientist', 'salary': 100000}, {'job_title': 'Data Analyst', 'salary': 120000}, {'job_title': 'Data Engineer', 'salary': 80000}, {'job_title': 'Machine Learning Engineer', 'salary': 90000}]
job_salary_dicts = [x for x in job_salary_dicts if x['salary'] > 90000]
print(job_salary_dicts)

[{'job_title': 'Data Scientist', 'salary': 100000}, {'job_title': 'Data Analyst', 'salary': 120000}]

In [ ]:
job_title = 'Data Scientist'
keyword = 'Data'

def job_title_contains ():
  if keyword in job_title:
    return True
  else:
    return False
print(job_title_contains())

True

In [ ]:
salaries = [95000, 120000, 105000, 90000, 130000]

def average_salary(salaries):
  return sum(salaries) / len(salaries)

print(average_salary(salaries))

108000.0

In [ ]:
salaries = [95000, 120000, 105000, 90000, 130000]

def salary_statistics (salaries):
  return min(salaries), max(salaries), sum(salaries) / len(salaries)

print(salary_statistics(salaries))

(90000, 130000, 108000.0)

In [ ]:
job_postings = [
    {'title': 'Data Scientist', 'location': 'New York', 'salary': 95000},
    {'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000},
    {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}
]

def job_postings_summary (job_postings):
    total_postings = len(job_postings)
    total_salary = sum(posting['salary'] for posting in job_postings)
    average_salary = total_salary / total_postings
    unique_locations = list(set(posting['location'] for posting in job_postings))
    return {
        'total_postings': total_postings,
        'average_salary': average_salary,
        'unique_locations': unique_locations
    }

job_postings_summary(job_postings)

{'total_postings': 3,
 'average_salary': 98333.33333333333,
 'unique_locations': ['New York', 'San Francisco']}

In [ ]:
salaries = [95000, 120000, 105000, 90000, 130000]
avg_salary = lambda salaries_listed: sum(salaries) / len(salaries)
print(avg_salary(salaries))

108000.0

In [ ]:
job_titles = ['Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'Data Analyst']
data_jobs = lambda job: 'Data' in f'{job_titles}'
print(data_jobs(job_titles))

True

In [ ]:
job_titles = ['Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'Data Analyst']
'Data' in f'{job_titles}'

True

In [ ]:
job_titles = ['Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'Data Analyst']

data_jobs = lambda jobs: [job for job in jobs if 'Data' in job]

print(data_jobs(job_titles))

['Data Scientist', 'Data Engineer', 'Data Analyst']

In [ ]:
job_titles = ['Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'Data Analyst']

def filter_data_jobs(jobs):
    return list(filter(lambda job: 'Data' in job, jobs))

print(filter_data_jobs(job_titles))

['Data Scientist', 'Data Engineer', 'Data Analyst']

In [ ]:
def is_data_job(job):
  return 'Data' in job

job_titles = ['Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'Data Analyst']
data_jobs = list(filter(is_data_job, job_titles))
print(data_jobs)

['Data Scientist', 'Data Engineer', 'Data Analyst']

In [ ]:
job_titles = ['Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'Data Analyst']
def filter_data_jobs(jobs):
    return list(filter(lambda job: 'Data' in job, jobs))
print(filter_data_jobs(job_titles))

['Data Scientist', 'Data Engineer', 'Data Analyst']

In [ ]:
job_titles = ['Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'Data Analyst']

def filter_data_jobs(jobs):
    return list(filter(lambda job: 'Data' in job, jobs))

print(filter_data_jobs(job_titles))

['Data Scientist', 'Data Engineer', 'Data Analyst']

In [ ]:
job_postings = [
    {'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True},
    {'title': 'Data Analyst', 'skills': ['Excel', 'SQL'], 'remote': False},
    {'title': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow'], 'remote': True},
    {'title': 'Software Developer', 'skills': ['Java', 'C++'], 'remote': True}
]

filter_criteria = lambda job: 'Python' in job['skills'] and job['remote']
python_remote_jobs = list(filter(filter_criteria, job_postings))
print(python_remote_jobs)

[{'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True}, {'title': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow'], 'remote': True}]

In [ ]:
job_titles = ['Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'Data Analyst']

def filter_data_jobs(jobs):
    return list(filter(lambda job: 'Data' in job, jobs))

print(filter_data_jobs(job_titles))

In [ ]:
job_titles = ['Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'Data Analyst']

data_jobs =  list(filter(lambda job: 'Data' in job, job_titles))

print(data_jobs)

['Data Scientist', 'Data Engineer', 'Data Analyst']

In [ ]:
import salary_calculator
annual_salary = salary_calculator.calculate_annual_salary(50, 40)
print(annual_salary)

104000

In [ ]:
import job_filter
job_postings = [
    {'title': 'Data Scientist', 'location': 'New York'},
    {'title': 'Data Analyst', 'location': 'San Francisco'},
    {'title': 'Machine Learning Engineer', 'location': 'New York'}
]
location_filter = job_filter.filter_by_location(job_postings, 'New York')
print(location_filter)

[{'title': 'Data Scientist', 'location': 'New York'}, {'title': 'Machine Learning Engineer', 'location': 'New York'}]

In [ ]:
!pip list

Package                            Version
---------------------------------- ------------------
absl-py                            1.4.0
accelerate                         1.3.0
aiohappyeyeballs                   2.5.0
aiohttp                            3.11.13
aiosignal                          1.3.2
alabaster                          1.0.0
albucore                           0.0.23
albumentations                     2.0.5
ale-py                             0.10.2
altair                             5.5.0
annotated-types                    0.7.0
anyio                              3.7.1
argon2-cffi                        23.1.0
argon2-cffi-bindings               21.2.0
array_record                       0.6.0
arviz                              0.20.0
astropy                            7.0.1
astropy-iers-data                  0.2025.3.3.0.34.45
astunparse                         1.6.3
atpublic                           4.1.0
attrs                              25.1.0
audioread                          3.0.1
autograd                           1.7.0
babel                              2.17.0
backcall                           0.2.0
beautifulsoup4                     4.13.3
betterproto                        2.0.0b6
bigframes                          1.38.0
bigquery-magics                    0.6.0
bleach                             6.2.0
blinker                            1.9.0
blis                               0.7.11
blosc2                             3.2.0
bokeh                              3.6.3
Bottleneck                         1.4.2
bqplot                             0.12.44
branca                             0.8.1
CacheControl                       0.14.2
cachetools                         5.5.2
catalogue                          2.0.10
certifi                            2025.1.31
cffi                               1.17.1
chardet                            5.2.0
charset-normalizer                 3.4.1
chex                               0.1.89
clarabel                           0.10.0
click                              8.1.8
cloudpathlib                       0.21.0
cloudpickle                        3.1.1
cmake                              3.31.6
cmdstanpy                          1.2.5
colorcet                           3.1.0
colorlover                         0.3.0
colour                             0.1.5
community                          1.0.0b1
confection                         0.1.5
cons                               0.4.6
contourpy                          1.3.1
cramjam                            2.9.1
cryptography                       43.0.3
cuda-python                        12.6.2.post1
cudf-cu12                          25.2.1
cudf-polars-cu12                   25.2.2
cufflinks                          0.17.3
cuml-cu12                          25.2.1
cupy-cuda12x                       13.3.0
cuvs-cu12                          25.2.1
cvxopt                             1.3.2
cvxpy                              1.6.2
cycler                             0.12.1
cyipopt                            1.5.0
cymem                              2.0.11
Cython                             3.0.12
dask                               2024.12.1
dask-cuda                          25.2.0
dask-cudf-cu12                     25.2.2
dask-expr                          1.1.21
datascience                        0.17.6
db-dtypes                          1.4.2
dbus-python                        1.2.18
debugpy                            1.8.0
decorator                          4.4.2
defusedxml                         0.7.1
Deprecated                         1.2.18
diffusers                          0.32.2
distributed                        2024.12.1
distributed-ucxx-cu12              0.42.0
distro                             1.9.0
dlib                               19.24.2
dm-tree                            0.1.9
docker-pycreds                     0.4.0
docstring_parser                   0.16
docutils                           0.21.2
dopamine_rl                        4.1.2
duckdb                             1.1.3
earthengine-api                    1.5.5
easydict                           1.13
editdistance                       0.8.1
eerepr                             0.1.1
einops                             0.8.1
en-core-web-sm                     3.7.1
entrypoints                        0.4
et_xmlfile                         2.0.0
etils                              1.12.1
etuples                            0.3.9
Farama-Notifications               0.0.4
fastai                             2.7.18
fastcore                           1.7.29
fastdownload                       0.0.7
fastjsonschema                     2.21.1
fastprogress                       1.0.3
fastrlock                          0.8.3
filelock                           3.17.0
firebase-admin                     6.6.0
Flask                              3.1.0
flatbuffers                        25.2.10
flax                               0.10.4
folium                             0.19.5
fonttools                          4.56.0
frozendict                         2.4.6
frozenlist                         1.5.0
fsspec                             2024.10.0
future                             1.0.0
gast                               0.6.0
gcsfs                              2024.10.0
GDAL                               3.6.4
gdown                              5.2.0
geemap                             0.35.3
geocoder                           1.38.1
geographiclib                      2.0
geopandas                          1.0.1
geopy                              2.4.1
gin-config                         0.5.0
gitdb                              4.0.12
GitPython                          3.1.44
glob2                              0.7
google                             2.0.3
google-ai-generativelanguage       0.6.15
google-api-core                    2.24.1
google-api-python-client           2.160.0
google-auth                        2.38.0
google-auth-httplib2               0.2.0
google-auth-oauthlib               1.2.1
google-cloud-aiplatform            1.79.0
google-cloud-bigquery              3.29.0
google-cloud-bigquery-connection   1.18.1
google-cloud-bigquery-storage      2.28.0
google-cloud-bigtable              2.29.0
google-cloud-core                  2.4.2
google-cloud-dataproc              5.18.0
google-cloud-datastore             2.20.2
google-cloud-firestore             2.20.1
google-cloud-functions             1.19.0
google-cloud-iam                   2.18.1
google-cloud-language              2.16.0
google-cloud-pubsub                2.25.0
google-cloud-resource-manager      1.14.1
google-cloud-spanner               3.52.0
google-cloud-storage               2.19.0
google-cloud-translate             3.19.0
google-colab                       1.0.0
google-crc32c                      1.6.0
google-genai                       1.4.0
google-generativeai                0.8.4
google-pasta                       0.2.0
google-resumable-media             2.7.2
google-spark-connect               0.5.3
googleapis-common-protos           1.69.1
googledrivedownloader              1.1.0
graphviz                           0.20.3
greenlet                           3.1.1
grpc-google-iam-v1                 0.14.1
grpc-interceptor                   0.15.4
grpcio                             1.70.0
grpcio-status                      1.62.3
grpclib                            0.4.7
gspread                            6.1.4
gspread-dataframe                  4.0.0
gym                                0.25.2
gym-notices                        0.0.8
gymnasium                          1.1.1
h11                                0.14.0
h2                                 4.2.0
h5netcdf                           1.6.1
h5py                               3.12.1
hdbscan                            0.8.40
highspy                            1.9.0
holidays                           0.68
holoviews                          1.20.1
hpack                              4.1.0
html5lib                           1.1
httpcore                           1.0.7
httpimport                         1.4.1
httplib2                           0.22.0
httpx                              0.28.1
huggingface-hub                    0.28.1
humanize                           4.11.0
hyperframe                         6.1.0
hyperopt                           0.2.7
ibis-framework                     9.2.0
idna                               3.10
imageio                            2.37.0
imageio-ffmpeg                     0.6.0
imagesize                          1.4.1
imbalanced-learn                   0.13.0
imgaug                             0.4.0
immutabledict                      4.2.1
importlib_metadata                 8.6.1
importlib_resources                6.5.2
imutils                            0.5.4
inflect                            7.5.0
iniconfig                          2.0.0
intel-cmplr-lib-ur                 2025.0.5
intel-openmp                       2025.0.5
ipyevents                          2.0.2
ipyfilechooser                     0.6.0
ipykernel                          6.17.1
ipyleaflet                         0.19.2
ipyparallel                        8.8.0
ipython                            7.34.0
ipython-genutils                   0.2.0
ipython-sql                        0.5.0
ipytree                            0.2.2
ipywidgets                         7.7.1
itsdangerous                       2.2.0
jax                                0.5.2
jax-cuda12-pjrt                    0.5.1
jax-cuda12-plugin                  0.5.1
jaxlib                             0.5.1
jeepney                            0.7.1
jellyfish                          1.1.0
jieba                              0.42.1
Jinja2                             3.1.6
jiter                              0.8.2
joblib                             1.4.2
jsonpatch                          1.33
jsonpickle                         4.0.2
jsonpointer                        3.0.0
jsonschema                         4.23.0
jsonschema-specifications          2024.10.1
jupyter-client                     6.1.12
jupyter-console                    6.1.0
jupyter_core                       5.7.2
jupyter-leaflet                    0.19.2
jupyter-server                     1.24.0
jupyterlab_pygments                0.3.0
jupyterlab_widgets                 3.0.13
kaggle                             1.6.17
kagglehub                          0.3.10
keras                              3.8.0
keras-hub                          0.18.1
keras-nlp                          0.18.1
keyring                            23.5.0
kiwisolver                         1.4.8
langchain                          0.3.20
langchain-core                     0.3.43
langchain-text-splitters           0.3.6
langcodes                          3.5.0
langsmith                          0.3.13
language_data                      1.3.0
launchpadlib                       1.10.16
lazr.restfulclient                 0.14.4
lazr.uri                           1.0.6
lazy_loader                        0.4
libclang                           18.1.1
libcudf-cu12                       25.2.1
libcugraph-cu12                    25.2.0
libcuml-cu12                       25.2.1
libcuvs-cu12                       25.2.1
libkvikio-cu12                     25.2.1
libraft-cu12                       25.2.0
librosa                            0.10.2.post1
libucx-cu12                        1.18.0
libucxx-cu12                       0.42.0
lightgbm                           4.5.0
linkify-it-py                      2.0.3
llvmlite                           0.43.0
locket                             1.0.0
logical-unification                0.4.6
lxml                               5.3.1
marisa-trie                        1.2.1
Markdown                           3.7
markdown-it-py                     3.0.0
MarkupSafe                         3.0.2
matplotlib                         3.10.0
matplotlib-inline                  0.1.7
matplotlib-venn                    1.1.2
mdit-py-plugins                    0.4.2
mdurl                              0.1.2
miniKanren                         1.0.3
missingno                          0.5.2
mistune                            3.1.2
mizani                             0.13.1
mkl                                2025.0.1
ml-dtypes                          0.4.1
mlxtend                            0.23.4
more-itertools                     10.6.0
moviepy                            1.0.3
mpmath                             1.3.0
msgpack                            1.1.0
multidict                          6.1.0
multipledispatch                   1.0.0
multitasking                       0.0.11
murmurhash                         1.0.12
music21                            9.3.0
namex                              0.0.8
narwhals                           1.29.1
natsort                            8.4.0
nbclassic                          1.2.0
nbclient                           0.10.2
nbconvert                          7.16.6
nbformat                           5.10.4
ndindex                            1.9.2
nest-asyncio                       1.6.0
networkx                           3.4.2
nibabel                            5.3.2
nltk                               3.9.1
notebook                           6.5.5
notebook_shim                      0.2.4
numba                              0.60.0
numba-cuda                         0.2.0
numexpr                            2.10.2
numpy                              1.26.4
nvidia-cublas-cu12                 12.5.3.2
nvidia-cuda-cupti-cu12             12.5.82
nvidia-cuda-nvcc-cu12              12.5.82
nvidia-cuda-nvrtc-cu12             12.5.82
nvidia-cuda-runtime-cu12           12.5.82
nvidia-cudnn-cu12                  9.3.0.75
nvidia-cufft-cu12                  11.2.3.61
nvidia-curand-cu12                 10.3.6.82
nvidia-cusolver-cu12               11.6.3.83
nvidia-cusparse-cu12               12.5.1.3
nvidia-ml-py                       12.570.86
nvidia-nccl-cu12                   2.21.5
nvidia-nvcomp-cu12                 4.2.0.11
nvidia-nvjitlink-cu12              12.5.82
nvidia-nvtx-cu12                   12.4.127
nvtx                               0.2.11
nx-cugraph-cu12                    25.2.0
oauth2client                       4.1.3
oauthlib                           3.2.2
openai                             1.61.1
opencv-contrib-python              4.11.0.86
opencv-python                      4.11.0.86
opencv-python-headless             4.11.0.86
openpyxl                           3.1.5
opentelemetry-api                  1.16.0
opentelemetry-sdk                  1.16.0
opentelemetry-semantic-conventions 0.37b0
opt_einsum                         3.4.0
optax                              0.2.4
optree                             0.14.1
orbax-checkpoint                   0.11.8
orjson                             3.10.15
osqp                               0.6.7.post3
packaging                          24.2
pandas                             2.2.2
pandas-datareader                  0.10.0
pandas-gbq                         0.28.0
pandas-stubs                       2.2.2.240909
pandocfilters                      1.5.1
panel                              1.6.1
param                              2.2.0
parso                              0.8.4
parsy                              2.1
partd                              1.4.2
pathlib                            1.0.1
patsy                              1.0.1
peewee                             3.17.9
peft                               0.14.0
pexpect                            4.9.0
pickleshare                        0.7.5
pillow                             11.1.0
pip                                24.1.2
platformdirs                       4.3.6
plotly                             5.24.1
plotnine                           0.14.5
pluggy                             1.5.0
ply                                3.11
polars                             1.21.0
pooch                              1.8.2
portpicker                         1.5.2
preshed                            3.0.9
prettytable                        3.15.1
proglog                            0.1.10
progressbar2                       4.5.0
prometheus_client                  0.21.1
promise                            2.3
prompt_toolkit                     3.0.50
propcache                          0.3.0
prophet                            1.1.6
proto-plus                         1.26.0
protobuf                           4.25.6
psutil                             5.9.5
psycopg2                           2.9.10
ptyprocess                         0.7.0
py-cpuinfo                         9.0.0
py4j                               0.10.9.7
pyarrow                            18.1.0
pyasn1                             0.6.1
pyasn1_modules                     0.4.1
pycocotools                        2.0.8
pycparser                          2.22
pydantic                           2.10.6
pydantic_core                      2.27.2
pydata-google-auth                 1.9.1
pydot                              3.0.4
pydotplus                          2.0.2
PyDrive                            1.3.1
PyDrive2                           1.21.3
pyerfa                             2.0.1.5
pygame                             2.6.1
pygit2                             1.17.0
Pygments                           2.18.0
PyGObject                          3.42.1
PyJWT                              2.10.1
pylibcudf-cu12                     25.2.1
pylibcugraph-cu12                  25.2.0
pylibraft-cu12                     25.2.0
pymc                               5.20.1
pymystem3                          0.2.0
pynndescent                        0.5.13
pynvjitlink-cu12                   0.5.1
pynvml                             12.0.0
pyogrio                            0.10.0
Pyomo                              6.8.2
PyOpenGL                           3.1.9
pyOpenSSL                          24.2.1
pyparsing                          3.2.1
pyperclip                          1.9.0
pyproj                             3.7.1
pyshp                              2.3.1
PySocks                            1.7.1
pyspark                            3.5.5
pytensor                           2.27.1
pytest                             8.3.5
python-apt                         0.0.0
python-box                         7.3.2
python-dateutil                    2.8.2
python-louvain                     0.16
python-slugify                     8.0.4
python-snappy                      0.7.3
python-utils                       3.9.1
pytz                               2025.1
pyviz_comms                        3.0.4
PyYAML                             6.0.2
pyzmq                              24.0.1
qdldl                              0.1.7.post5
raft-dask-cu12                     25.2.0
rapids-dask-dependency             25.2.0
ratelim                            0.1.6
referencing                        0.36.2
regex                              2024.11.6
requests                           2.32.3
requests-oauthlib                  2.0.0
requests-toolbelt                  1.0.0
requirements-parser                0.9.0
rich                               13.9.4
rmm-cu12                           25.2.0
rpds-py                            0.23.1
rpy2                               3.5.17
rsa                                4.9
safetensors                        0.5.3
scikit-image                       0.25.2
scikit-learn                       1.6.1
scipy                              1.14.1
scooby                             0.10.0
scs                                3.2.7.post2
seaborn                            0.13.2
SecretStorage                      3.3.1
Send2Trash                         1.8.3
sentence-transformers              3.4.1
sentencepiece                      0.2.0
sentry-sdk                         2.22.0
setproctitle                       1.3.5
setuptools                         75.1.0

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles[1]= 'AI Specialist'
print(job_titles)

['Data Scientist', 'AI Specialist', 'Machine Learning Engineer']

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Engineer']
print(job_titles[:2])

['Data Scientist', 'Data Analyst']

In [ ]:
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
print(job_postings.values())

dict_values([120, 80, 50])

In [ ]:
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
print(job_postings['Data Analyst'])

80

In [ ]:
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
value_to_find = 80
if value_to_find in job_postings.values():
    print(f"The value {value_to_find} exists in the dictionary.")
else:
    print(f"The value {value_to_find} does not exist in the dictionary.")

The value 80 exists in the dictionary.

In [ ]:
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}

value_to_find = 80
found_job_title = None

for job_title, count in job_postings.items():
    if count == value_to_find:
        found_job_title = job_title
        break

if found_job_title:
    print(found_job_title)
else:
    print(f"No job title found for value {value_to_find}")

Data Analyst

In [ ]:
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}

desired_value = 80
desired_job_title = None

for job_title, count in job_postings.items():
    if count == desired_value:
        desired_job_title = job_title
        break


if desired_job_title:
  print(desired_job_title)
else:
  print(f"No job title found for value {desired_value}")

Data Analyst

In [ ]:
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings['AI Specialist'] = 30
print(job_postings)

{'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50, 'AI Specialist': 30}

In [ ]:
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings.update({'AI Specialist': 30, 'Data Engineer': 40})
print(job_postings)

{'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50, 'AI Specialist': 30, 'Data Engineer': 40}

In [ ]:
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings.pop('Machine Learning Engineer')
print(job_postings)

{'Data Scientist': 120, 'Data Analyst': 80}

In [ ]:
job_postings1 = {'Data Scientist': 120, 'Data Analyst': 80}
job_postings2 = {'Machine Learning Engineer': 50, 'AI Specialist': 30}
job_postings1.update(job_postings2)
print(job_postings1)

{'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50, 'AI Specialist': 30}

In [ ]:
# Create a nested dictionary job_details where each key is a job role and the value is another dictionary containing 'postings' and 'average_salary'.
# The details for each are: 'Data Scientist' has 120 postings and an average salary of 120000; 'Data Analyst' has 80 postings and an average salary of 80000; Machine Learning Engineer has 50 postings and average salary of 110000.
# Print the nested dictionary.

job_details = {'Data Scientist': {'postings': 120, 'average_salary': 120000},
                'Data Analyst': {'postings': 80, 'average_salary': 80000},
                'Machine Learning Engineer': {'postings': 50, 'average_salary': 110000}}
print(job_details)

{'Data Scientist': {'postings': 120, 'average_salary': 120000}, 'Data Analyst': {'postings': 80, 'average_salary': 80000}, 'Machine Learning Engineer': {'postings': 50, 'average_salary': 110000}}

In [ ]:
skills_set1 = {'Python', 'SQL', 'Tableau'}
skills_set2 = {'R', 'SQL', 'Machine Learning'}
all_skills = skills_set1.union(skills_set2)
print(all_skills)

{'SQL', 'R', 'Python', 'Tableau', 'Machine Learning'}

In [ ]:
skills_set1 = {'Python', 'SQL', 'Tableau'}
skills_set2 = {'R', 'SQL', 'Machine Learning'}
print(skills_set1.union(skills_set2))

{'SQL', 'R', 'Python', 'Tableau', 'Machine Learning'}

In [ ]:
job_details = (('Data Scientist', 120), ('Data Analyst', 80), ('Machine Learning Engineer', 50))
print(job_details[2][1])

50

In [ ]:
job_postings = [5, 10, 15, 20, 25]
total_job_postings = sum(job_postings)
print(total_job_postings)

75

In [ ]:
job_postings = [5, 10, 15, 20, 25]
total_job_postings = 0
index = 0
while index < len(job_postings):
  total_job_postings += job_postings[index]
  index += 1
print(total_job_postings)

75

In [ ]:
job_postings = [5, 10, 15, 20, 25]
total_postings = 0
count = 0
while count < len(job_postings):
  total_postings += job_postings[count]
  count += 1
print(total_postings)

75

In [ ]:
job_postings = [5, 10, 15, 20, 25]
total_job_postings = 0
index = 0
while index < len(job_postings):
  total_job_postings += job_postings[index]
  index += 1
print(total_job_postings)

75

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']
index = 0
while index < len(job_titles):
  if 'Engineer' in job_titles[index]:
    print(job_titles[index])
    break
  index += 1

Machine Learning Engineer

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']
index = 0
while index < len(job_titles):
  if 'Engineer' in job_titles[index]:
    print(job_titles[index])

  index += 1

Machine Learning Engineer
Software Engineer

In [ ]:
class JobPosting:
  def __init__(self, title, company, location):
    self.title = title
    self.company = company
    self.location = location


job = JobPosting('Data Scientist', 'Tech Innovations', 'New York')

print(job.title)
print(job.company)
print(job.location)

Data Scientist
Tech Innovations
New York

In [ ]:
class JobPosting:
    def __init__(self, title, company, location, salary):
        self.title = title
        self.company = company
        self.location = location
        self.salary = salary

    def to_dict(self):
        return {
            'title': self.title,
            'company': self.company,
            'location': self.location,
            'salary': self.salary
        }

job = JobPosting('Data Scientist', 'Tech Innovations', 'New York', 120000)

print(job.to_dict())

{'title': 'Data Scientist', 'company': 'Tech Innovations', 'location': 'New York', 'salary': 120000}

In [ ]:
class JobPosting:
    def __init__(self, title, company, location, salary):
        self.title = title
        self.company = company
        self.location = location
        self.salary = salary

    def compare_salary(self, other_job):
       if self.salary > other_job.salary:
         return self.title
       else:
         return other_job.title

job1 = JobPosting('Data Scientist', 'Tech Innovations', 'New York', 120000)
job2 = JobPosting('Data Analyst', 'Data Corp', 'San Francisco', 80000)

print(job1.compare_salary(job2))

Data Scientist

###Numpy

In [ ]:
import numpy as np

applications_list = [10, 15, 7, 20, 25, 30, 5]
applications = np.array(applications_list)
print(applications)

[10 15  7 20 25 30  5]

In [ ]:
import numpy as np
postings_list = [10, 15, 7, 20, 25, 30, 5]
postings = np.array(postings_list)
first_three_postings = postings[:3]
print(first_three_postings)

[10 15  7]

In [ ]:
import numpy as np
salaries_list = [70000, 85000, 60000, 95000, 80000]
salaries = np.array(salaries_list)
average_salary = np.mean(salaries)
print(average_salary)

78000.0

In [ ]:
import numpy as np
salaries_list = [70000, 85000, 60000, 95000, 80000]
salaries = np.array(salaries_list)
highest_salary = np.max(salaries)
lowest_salary = np.min(salaries)
print(highest_salary, lowest_salary)

95000 60000